.vscode
HomeSchoolAPI/.vscode
HomeSchoolAPI/.vs
HomeSchoolAPI/.config
HomeSchoolAPI/bin
HomeSchoolAPI/obj
FileStorageAPI/obj
FileStorageAPI/bin
FileStorageAPI/appsettings.json
HomeSchoolAPI/appsettings.json
