.vscode
HomeSchoolAPI/.vscode
HomeSchoolAPI/.vs
HomeSchoolAPI/.config
HomeSchoolAPI/bin
HomeSchoolAPI/obj
FileStorageAPI/obj
FileStorageAPI/bin
FileStorageAPI/appsettings.json
HomeSchoolAPI/appsettings.json
ReturnUserNamesAPI/appsettings.json
ReturnUserNamesAPI/bin
ReturnUserNamesAPI/obj
ReturnUserNamesAPI/.vscode
ReturnUserNamesAPI/.vs
