.vscode
HomeSchoolAPI/.vscode
HomeSchoolAPI/.vs
HomeSchoolAPI/.config
HomeSchoolAPI/bin
HomeSchoolAPI/obj
FileStorageAPI/obj
FileStorageAPI/bin
FileStorageAPI/appsettings.json
HomeSchoolAPI/appsettings.json
ReturnUserNamesAPI/appsettings.json
HomeSchoolCore/appsettings.json
TextChatAPI/appsettings.json
ReturnUserNamesAPI/bin
ReturnUserNamesAPI/obj
ReturnUserNamesAPI/.vscode
ReturnUserNamesAPI/.vs
HomeSchoolCore/bin
HomeSchoolCore/obj
HomeSchoolCore/.vscode
HomeSchoolCore/.vs
TextChatAPI/bin
TextChatAPI/obj
TextChatAPI/.vs